            *{    /* style générique à mettre en haut*/
                overflow: auto;    /* pour avoir une barre de scroll si le texte est trop long*/
            }
            body{
                background-color: #8BA1BB;
                font-family: arial;
                margin: 0;
                
            }
            p.catégorie{    
                background-color: black;
                color : white;
                display: inline-block;
                margin-top: -15px;
                margin-bottom: 0px;
                padding: 8px 18px;
                font-weight: bold;    /* pour mettre en gras*/
                font-size: 16px;     /* pour augmenter la taille de la police*/


            }
            div.contenu{
                background-color: white;
                margin: 40px 8px 40px 8px;
                padding: 0px 8px 20px 8px;
                box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
                overflow: visible;
            }
            h1{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 12px;
            }
            p.description{
                text-align: center;
                max-width: 400px;    /* pour conserver le texte sur 2 lignes*/
                display: inline-block;
                font-size: 14px;
            }
            .centre{    /*prend en compte le texte et l'immage*/
                text-align: center;
                width: 100%;    /* pour prendre toute la largeur de la page*/
            }
            div.catégorie{
                margin-bottom: 0px;
                margin-top: 0px;
                overflow: visible;
            }
            div.separateur{
                background-color: black;
                height: 1px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            div.infos{
                position: relative;
            }
            table.infos{
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;
                background-color: #6C829DC0;
                height: 50px;
            }
            table.infos td{
                text-align: center;
                font-size: 12px;
                vertical-align: top;
            }
            table.infos th{
                font-size: 14px;
                vertical-align: bottom;
                padding-bottom: 8px;
            }
            img.infos{
                display: block;
                max-height: 400px;
                object-fit: cover;
                min-height: 200px;
                background-color: lightgrey;
            }
            div.colonnes{
                width: 100%;
                margin-top: 15px;
                font-size: 12px;
            }
            div.colonnes h2{
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                border-bottom: 5px solid #6C829D;    /* solid = ligne pleine*/
                padding-bottom: 5px;
            }
            
            div.colonne1{
                /*background-color: lightblue;*/
                display: inline-block;
            }

            div.ingredients p{
                text-align: center;
                font-size: 14px;
                border: 1px solid lightgrey;
                padding: 8px 0px;    /* 8px haut/bas et 0px gauche/droit*/
                margin-top: 4px;
                margin-bottom: 0px;
            }
            table.preparation p.numero {
                background-color: #6C829D;
                color: white;
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                padding-top: 4px;
                box-sizing: border-box;    /* pour que le padding ne s'ajoute pas au width et height*/
                border-radius: 50%;    /* pour avoir un cercle*/
                margin : 0px;
            }
            table.preparation td{
                vertical-align: top;
            }
            table.preparation td.preparation_etapes{
                font-size: 14px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            table.preparation tr{
                height: 40px;    /* pour conserver la marge entre les lignes*/
            }

            /* Style pour ordinateurs de bureau*/
            @media only screen and (min-width: 600px) {
                div.contenu{
                    margin: 60px 10% 60px 10%;
                    padding: 0px 30px 30px 30px;
                    min-width: 350px;
                }
                table.infos{
                    height: 80px;
                }
                table.infos td{
                    font-size: 14px;
                }
                table.infos th{
                    font-size: 16px;
                }
                div.colonnes{
                    width: 45%;
                }
 
                div.colonne1{
                    margin-right: 10%
                }
                div.colonne2{
                    float: right;
                }
            }

            @media only screen and (min-width: 900px) {
                div.contenu{
                    margin-left: auto;
                    margin-right: auto;
                    width: 400px;
                }
            }
            